.page-inner {max-width: 980px !important; background: #fff; padding: 120px 40px;}
.book-header {border-bottom: 1px solid #e0e0e0; margin-top: 1px;}
.book-summary ul.summary li.divider {background: #e0e0e0;}
.book-summary {background: #f0f0f0;}
.book-summary ul.summary li.active>a {color: #4CAF50;}
.book-summary ul.summary li a {font-weight: bold; color: #303030;}
.book-summary ul.articles li a {font-weight: normal; color: #505050;}
.markdown-section hr {height: 4px; background-color: #f0f0f0; margin-bottom: 60px;}
.book-summary ul.summary li a, .book-summary ul.summary li span {padding: 10px 20px;}
.markdown-section h3 {color: #4CAF50; font-size: 2em;}
.markdown-section h1 {font-size: 5em; margin-bottom: 0;}
.markdown-section pre {padding: 2em 2em;}
.markdown-section pre>code {font-size: .75em;}
.markdown-section ol, .markdown-section ul {padding-left: 1em; padding-top: 0.5em; padding-bottom: 1.5em;}


#book-search-input {border-bottom: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;}
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover {padding: 7px 12px;}